.header{
    background-color:darkgray;
    padding-left: 100px;
    padding-right:100px;
    padding-top:20px;
    padding-bottom:20px;
}

.icon{
    float:right;
    font-size:22px;
}

/*.login{
    height:100%;
    width:100%;    
    padding-top:70px;
    left:50%;
    margin-left:-119px !important ;
    position: absolute !important; 
}*/

.login{
    width:100%;
    height:100vh;
    padding-top:70px;
    background-image: url("../components/autumn.jpg") ;
    
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-btn{
    left:50%;
    margin-left:-119px !important ;
    position: absolute !important; 
}






