.header{
    background-color:darkgray;
    padding-left: 100px;
    padding-right:100px;
    padding-top:20px;
    padding-bottom:20px;
}

.icon{
    float:right;
    font-size:22px;
}

.login{
    margin-top: 70px;
    left:50%;
    margin-left:-119px !important ;
    position: relative !important; 
}



