.item-selector {
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: rgba(0,0,0, 0.5);
    z-index: 3;
}

.item-selector-inner {
    position: absolute;
    width: calc(500px - 30px * 2);
    height: calc(80% - 30px * 2);
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #eae7dc;
    padding: 30px;
}

.item-selector-inner .close-icon {
    position: absolute;    
    right: 30px;
    z-index: 999;
}

.item-selector-inner .close-icon :hover{
    color: red;
    cursor: pointer;
}

.item-selector-inner .caption {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    color: black;
    padding: 20px 50px;
}

.item-selector-inner .listItem {
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    color: black;
    padding: 20px 50px;
}

.item-selector-inner .submit {
    font-size: 22px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
}

.item-selector-inner .submit :hover{
    color: red;
    cursor: pointer;
}

.item-selector-inner .multi-select-container {
    margin-top: 70px;
    height: calc(100% - 120px);
}