.popup {
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: rgba(0,0,0, 0.5);
    z-index: 2;
}

.popup_inner {
    position: absolute;
    width: 500px;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: rgb(200, 200, 172);
}

.popup_inner .top {
    position: absolute;
    width: 100%;
    height: 150px;
    background: rgb(250, 204, 172);
    background-image: url('../components/bg.jpg');
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.popup_inner .top .upload-picture-guide {
    top: 40px;
    position: absolute;
    text-align: center;
    width: 100%;
    color: lightgrey;
    cursor: pointer;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.3);
}

.popup-name-bar {
    position: absolute;
    bottom: 0;
    height: 58px;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
}

.popup-name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 40px * 2);
    font-size: xx-large;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px 30px;
    padding: 5px 10px;
    line-height: calc(58px - 10px * 2);
}

.popup-name-bar input {
    transform: translateX(-2px) translateY(-50%);
}

.popup_inner .top .popup_icon {
    position: absolute;

    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    right: 10px;
    top: 10px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);
}

.popup_inner .top .popup_icon:hover {
    color:rgb(250,0,72);
    cursor: pointer;
}

.popup_inner .middle {
    position: absolute;
    top: 150px;
    width: calc(100% - 100px * 2);
    height: calc(100% - 150px - 80px - 50px * 2);

    overflow-y: scroll;
    margin: 50px 100px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.popup_row {
    padding: 10px 0;
    height: 50px;
    position: relative;
}


.popup_inner .middle .popup_icon {
    line-height: 50px;
    display: inline-block;
    width: 25px;
    text-align: center;
    /* margin-right: 15px; */
    position: absolute;
}

.row-content {
    position: absolute;
    left: 40px;
    width: calc(100% - 40px);
    top: 50%;
    transform: translateY(-50%);
}

.row-content
input {
    font-size: 16px;
    padding: 8px;
}

.row-content-time input,
.row-content-expireDate input {
    padding: 5px 8px;
}

.row-content-location {
    z-index: 999;
}

/* .row-content-itemList {
    top: 0;
} */


.popup_inner .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    /* border-top: 2px solid; */
    background: rgb(250, 155, 150);
}

.popup_inner .bottom .left {
    display: inline-block;
    width: 50%;
    position: relative;
    text-align: center;
}

.popup_inner .bottom .left:hover {
    color:rgb(250,0,72);
    cursor: pointer;
}

.popup_inner .bottom .right {
    display: inline-block;
    width: 50%;
    position: relative;
    text-align: center;
}

.popup_inner .bottom .right:hover {
    color:rgb(250,0,72);
    cursor: pointer;
}

.popup_inner .bottom .editModeIcon {
    position: relative;
    text-align: center;
}

.popup_inner .bottom .editModeIcon:hover {
    color:rgb(250,0,72);
    cursor: pointer;
}